<center>
<h1>訪れた場所一覧</h1>
  <table>
    <thead>
      <tr>
        <th>場所</th>
      </tr>
    </thead>

    <tbody>
      <% @spot.each do |spot| %>
      <tr>
        <td><%= spot.visit %></td>
        <td><%= link_to '詳細', show_input_path(spot) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to "入力フォームに戻る", new_input_path %>
</center>
