<!DOCTYPE html>
<html>
  <head>
      <title>Show</title>
  </head>
  <body>
    <center>
    <h1>あなたの訪れた場所</h1>

      <h2><%= @spot.visit %></h2>
      <p><%= @spot.comment %></p>

    </center>

  </body>
</html>
