<!DOCTYPE html>
<html>
  <head>
      <title>詳細画面</title>
  </head>
  <body>
    <center>
      <h1><%= @spot.visit %></h1>
      <p><%= @spot.comment %></p>
      <%= link_to 'Home', index_input_path %>
    </center>
  </body>
</center>
